dotenv==0.9.9
crewai==0.98.0
crewai-tools==0.32.1
langgraph==0.2.66
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-api-core==2.24.0
google-api-python-client==2.159.0
llama-index[all]
langchain_milvus==0.1.8
pymilvus==2.5.5
langchain-ollama==0.3.0
notebook

####
tomli==2.2.1
